* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

/* container section  */

.container {
  width: 100%;
  max-width: 1110px;
  min-height: 1000px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 20px 0px;
}

.container .left-side {
  background-color: rgb(45, 92, 122);
  padding: 40px;
}

.container .right-side {
  background-color: #f0f5f2;
  padding: 40px;
}

.container .right-side h4 {
  color: rgb(58, 79, 138);
  font-weight: 600;
}

/* profile section  */

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info .image {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.profile-info .image img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

/* about section  */

.about {
  margin-top: 10px;
  padding: 15px;
  padding-left: 0;
  border-bottom: 2px solid rgb(133, 153, 156);
  color: #ffffff;
}

.about .about-title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.about .intro {
  font-size: 13px;
  text-align: left;
}

/* following section  */

.follow {
  padding: 15px;
  padding-left: 0;
  border-bottom: 2px solid rgb(133, 153, 156);
  color: #ffffff;
}

.follow .follow-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.follow li {
  margin-bottom: 10px;
  font-size: 13px;
}

.follow li span {
  font-size: 15px;
}

/* reference section  */

.reference {
  padding: 15px;
  padding-left: 0;
  color: #ffffff;
}
.reference .reference-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.refer-1 {
  margin-bottom: 15px;
}
.refer-1 p {
  font-size: 13px;
  font-weight: normal;
}
.refer-2 p {
  font-size: 13px;
  font-weight: normal;
}

.refer-title {
  font-size: 16px;
  font-weight: normal;
}

.reference span {
  font-size: 13px;
  font-weight: normal;
}

.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(147, 170, 212);
}

.title h2 {
  font-size: 26px;
  font-weight: 700;
}
.title p {
  font-weight: 600;
  color: rgb(78, 78, 78);
  font-size: 18px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact a {
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
}
.contact a i {
  margin-right: 10px;
  color: rgb(33, 33, 151);
}

.education-section {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(147, 170, 212);
}

.bsc-degree {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}
.versity-info {
  width: 40%;
}

.depertment-info {
  width: 60%;
}

.depertment-info p {
  font-size: 14px;
}

.graphic-degree {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 15px;
}

.course-info {
  width: 40%;
}

.depertment-info {
  width: 60%;
}

.work-section {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(147, 170, 212);
}

.institute {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}

.institute-info {
  width: 40%;
}

.post-info {
  width: 60%;
}

.post-info p {
  font-size: 14px;
}

.graphic-institute {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}

.technical-section {
  margin-top: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgb(147, 170, 212);
}

.technical-skill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.skill {
  padding: 5px 20px;
}
.skill h4 {
  margin-left: -18px;
}

.language {
  display: flex;
  padding-top: 20px;
}

.language p {
  padding-left: 10px;
  font-weight: 600;
}
